{% extends "base.html" %}

{% block title %}All Tags{% endblock %}

{% block content %}
<h2>Tags</h2>
<ul>
    {% for tag in tags %}
        <li>
            <a href="{{ url_for('tags_detail', tag_id=tag.id) }}">{{ tag.name }}</a>
            <a href="{{ url_for('edit_tag', tag_id=tag.id) }}" class="btn btn-warning">Edit</a>
            <a href="{{ url_for('delete_tag', tag_id=tag.id) }}" class="btn btn-danger">Delete</a>

 </li>
    {% endfor %}
</ul>
<a href="{{ url_for('add_tag') }}" class="btn btn-success">Add New Tag</a>

{% endblock %}
